.foto__about {
    width: 358px;
    height: 58px;    
    border-top:none;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.foto__about::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}


@media screen and (max-width: 530px) {
    .foto__about { 
        max-width: 200px;
    }
}